<%- include('../../shared/includes/head', { pageTitle: 'Success!'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Order was successful!</h1>
        <p>You can vist <a href="/orders">the orders page</a> for more detials!</p>
        
    </main>
<%- include('../../shared/includes/footer') %>